body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: yellow;
}

#header {
  color: rgb(218, 0, 0);
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
background-color: orange;

}


#content {
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}


#thanks {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #3498db;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #2980b9;
  color: #fff;
}

nav {
  margin-bottom: 20px; /* Add some space between nav and content */
}

#aboutme {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: lightblue;
}

#contact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(30, 128, 0);
}